<div class="author">
	<img class="author-avatar" src="/avatars/{{ id }}.jpg" alt="Profile picture of {{name}}">
	<div class="author-info">
		<div class="author-name">{{name}}</div>
		<div class="author-socials">
			{{> socialLinks}}
		</div>
		<div class="author-bio">{{bio}}</div>
	</div>
</div>
