<div class="author">
	<div class="author-info">
		<div class="author-name">{{name}}</div>
		<div class="author-bio">{{bio}}</div>
		<div class="author-socials">
			{{#if gplus}}
				<a href="https://plus.google.com/{{gplus}}" target="_blank" title="Google+ Profile">{{gplus}}</a>
			{{/if}}
		</div>
	</div>
</div>
