<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<script>/*inject:inline*/</script>
</head>
<body>
	<header role="banner">
		<h1>Tims Blog</h1>
	</header>

	{{#is_post}}
		{{> post }}
	{{/is_post}}
</body>
</html>
