@import (inline) "~highlight.js/styles/hybrid.css";

code {
	font-family: 'Source Code Pro', monospace;
	line-height: 1.7;
	border-radius: 2px;
	font-size: 1em;
}

.hljs {
	padding: 1em;
}

@media @large {
	.hljs {
		padding: 0.5em;
	}
}
