article {
	h1, h2, h3, h4, h5, h6 {
		color: #666;
		font-weight: 300;
		position: relative;
		margin: 0.8em 0 0.3em;
		clear: left;
	}

	p {
		margin: 0.9em 0;
		line-height: 1.6;
	}

	.anchorlink:hover::before {
		opacity: 1;
	}

	.anchorlink {
		transition: opacity 0.3s ease;
		color: #999;
		text-decoration: none;
		border: none;
		transition: color @fade-time ease;
	}

	.anchorlink::before {
		position: absolute;
		margin-left: -0.8em;
		content: '#';
		opacity: 0;
		transition: opacity @fade-time ease;
	}

	@media @fullwidth {
		.anchorlink::before {
			display: none;
		}
	}

	img {
		max-width: 100%;
		background-color: #DDD;
	}

	ul {
		list-style: circle;
	}

	a {
		color: inherit;
		border-bottom: 1px dotted;
		text-decoration: none;
		transition: color @fade-time ease;

		&:hover, &:focus {
			color: @accent-color;
		}
	}
}
