article {
	h1, h2, h3, h4, h5, h6 {
		color: #555;
		font-weight: 300;
		position: relative;
		margin: 0.8em 0 0.3em;
		clear: left;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.7em;
	}

	h3 {
		font-size: 1.4em;
	}

	h4 {
		font-size: 1.2em;
	}

	p {
		margin: 0.9em 0;
		line-height: 1.6;
	}

	.anchorlink:hover::before {
		opacity: 1;
	}

	.anchorlink {
		transition: opacity 0.3s ease;
		color: #999;
		text-decoration: none;
		border: none;
		transition: color @fade-time ease;
	}

	.anchorlink::before {
		position: absolute;
		margin-left: -0.8em;
		content: '#';
		opacity: 0;
		transition: opacity @fade-time ease;
	}

	@media @fullwidth {
		.anchorlink::before {
			display: none;
		}
	}

	.image-wrapper {
		position: relative;
		background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 708.66142 708.66141"><path d="M467.51 240.822q0 28.536 19.659 48.194 19.658 19.658 48.193 20.292 28.536.634 48.194-20.292 19.658-20.926 19.658-48.194 0-27.267-19.658-47.56-19.658-20.291-48.194-20.291-28.535 0-48.193 20.292-19.658 20.292-19.658 47.56zM104.79 377.16v158.532h498.424v-67.852L490.339 354.331l-57.07 56.437-180.727-180.726zM71.183 127.948h566.275q4.439 0 7.61 3.17 3.17 3.171 3.804 8.244v429.937q0 4.44-3.805 8.244-3.805 3.805-7.61 3.17H71.183q-4.439 0-8.244-3.17-3.804-3.17-3.17-8.244V139.362q0-5.073 3.17-8.244 3.171-3.17 8.244-3.17zm-56.437 11.414v429.937q0 23.463 16.487 39.95 16.487 16.488 39.95 17.122h566.275q22.828 0 39.95-17.122 17.121-17.121 16.487-39.95V139.362q0-23.463-16.487-39.95-16.488-16.487-39.95-17.121H71.182q-23.463 0-39.95 17.121-16.487 17.121-16.487 39.95z" fill="#fff" fill-rule="evenodd"/></svg>') center center no-repeat #DDD;
		background-size: 80px 80px;

		&.floating {
			float: right;
			margin-left: 1em;

			@media @medium {
				float: none;
				margin: 0 auto;
				display: block;
			}
		}

		img {
			position: absolute;
			bottom: 0;
			top: 0;
			right: 0;
			left: 0;
		}
	}

	img {
		max-width: 100%;
	}

	ul {
		list-style: circle;
	}

	li {
		line-height: 2;
	}

	a {
		color: inherit;
		border-bottom: 1px dotted;
		text-decoration: none;
		transition: color @fade-time ease;

		&:hover, &:focus {
			color: @accent-color;
		}
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
		margin: 1rem auto;
		width: 90%;
	}

	td, th {
		padding: .4rem 2%;
		line-height: 1.7em;
		color: #333;
	}

	td {
		border-bottom: 1px solid #E7E7E7;
		font-size: 85%;
	}

	th {
		text-transform: uppercase;
		border-bottom: 1px solid #DDD;
		font-size: 75%;
		font-weight: 300;
		text-align: left;
	}
}
