article {
	h1, h2, h3, h4, h5, h6 {
		color: #555;
		font-weight: 300;
		position: relative;
		margin: 0.8em 0 0.3em;
		clear: left;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.7em;
	}

	h3 {
		font-size: 1.4em;
	}

	h4 {
		font-size: 1.2em;
	}

	p {
		margin: 0.9em 0;
		line-height: 1.6;
	}

	.anchorlink:hover::before {
		opacity: 1;
	}

	.anchorlink {
		transition: opacity 0.3s ease;
		color: #999;
		text-decoration: none;
		border: none;
		transition: color @fade-time ease;
	}

	.anchorlink::before {
		position: absolute;
		margin-left: -0.8em;
		content: '#';
		opacity: 0;
		transition: opacity @fade-time ease;
	}

	@media @fullwidth {
		.anchorlink::before {
			display: none;
		}
	}

	.image-wrapper {
		position: relative;
		background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 708.66142 708.66141" version="1.1"><g transform="translate(0,-343.70079)"><path style="fill:#FFF;fill-rule:evenodd" d="m 467.51086,584.52297 q 0,28.53567 19.65791,48.19358 19.6579,19.65791 48.19358,20.29204 28.53567,0.63412 48.19358,-20.29204 19.65791,-20.92616 19.65791,-48.19358 0,-27.26742 -19.65791,-47.55945 -19.65791,-20.29204 -48.19358,-20.29204 -28.53568,0 -48.19358,20.29204 -19.65791,20.29203 -19.65791,47.55945 z m -362.72011,136.3371 0,158.53152 498.42309,0 0,-67.85149 L 490.3394,698.03154 433.26805,754.46875 252.54212,573.74283 Z m -33.608678,-249.21154 566.274568,0 q 4.43889,0 7.60952,3.17063 3.17063,3.17063 3.80475,8.24364 l 0,429.93747 q 0,4.43888 -3.80475,8.24364 -3.80476,3.80475 -7.60952,3.17063 l -566.274568,0 q -4.43888,0 -8.24364,-3.17063 -3.80475,-3.17063 -3.17063,-8.24364 l 0,-429.93747 q 0,-5.07301 3.17063,-8.24364 3.17063,-3.17063 8.24364,-3.17063 z m -56.43722,11.41427 0,429.93747 q 0,23.46266 16.48728,39.94994 16.48728,16.48728 39.94994,17.12141 l 566.274568,0 q 22.82854,0 39.94995,-17.12141 17.1214,-17.1214 16.48727,-39.94994 l 0,-429.93747 q 0,-23.46266 -16.48727,-39.94994 -16.48728,-16.48728 -39.94995,-17.1214 l -566.274568,0 q -23.46266,0 -39.94994,17.1214 -16.48728,17.1214 -16.48728,39.94994 z"/></g></svg>') center center no-repeat #DDD;
		background-size: 80px 80px;

		&.floating {
			float: right;
			margin-left: 1em;

			@media @medium {
				float: none;
				margin: 0 auto;
				display: block;
			}
		}

		img {
			position: absolute;
			bottom: 0;
			top: 0;
			right: 0;
			left: 0;
		}
	}

	img {
		max-width: 100%;
	}

	ul {
		list-style: circle;
	}

	li {
		line-height: 2;
	}

	a {
		color: inherit;
		border-bottom: 1px dotted;
		text-decoration: none;
		transition: color @fade-time ease;

		&:hover, &:focus {
			color: @accent-color;
		}
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
		margin: 1rem auto;
		width: 90%;
	}

	td, th {
		padding: .4rem 2%;
		line-height: 1.7em;
		color: #333;
	}

	td {
		border-bottom: 1px solid #E7E7E7;
		font-size: 85%;
	}

	th {
		text-transform: uppercase;
		border-bottom: 1px solid #DDD;
		font-size: 75%;
		font-weight: 300;
		text-align: left;
	}
}
