[class^="medialink-"] {
	background-color: #999;
	border: none;
	transition: background-color @fade-time ease;
	border-radius: 1.6em;
	color: white;

	svg {
		fill: white;
	}

	&::before {
		margin-right: .5em !important;
	}

	&:hover, &:focus {
		color: white;
		background-color: @accent-color;
	}
}

@media @medium {
	[class^="medialink-"] {
		border-radius: 0;
		box-sizing: border-box;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
