@page-max-width: 900px;

@fade-time: 0.2s;

@accent-color: #4CAF50;
@gray-text: #999;
@dark-gray-text: #555;

@small: ~"only screen and (max-width: 425px)";
@medium: ~"only screen and (max-width: 600px)";
@large: ~"only screen and (max-width: 768px)";
