// @import "~sanitize.css/lib/sanitize";

@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

@import "_variables";
@import "_mixins";

@import "_header";
@import "_code";
@import "_content";
@import "_meta";
@import "_comments";
@import "_author";
@import "_postbottom";
@import "_home";
@import "_postlist";
@import "_medialinks";
@import "_series";

body {
	background-color: #FFF;
	font-family: 'Open Sans', sans-serif;
	padding: @body-padding;
	margin: 0;
}

main {
	display: block;
	max-width: @page-max-width;
	margin: 0 auto;
}

p {
	line-height: 1.6;
}
