<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width">
	<meta name="theme-color" content="{{config.blog.theme_color}}">

	<title>{{#if type_post}}{{post.meta.title}} &raquo; {{/if}} Tim Roes</title>
	{{#if canonical}}<link rel="canonical" href="{{canonical}}">{{/if}}

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,400italic' rel='stylesheet' type='text/css'>

	<!-- TODO: favicons/touch icons -->
	<!-- TODO: RSS Feed -->

	{{> socialMedia}}
</head>
<body>

	<header role="banner">
		<h1>Tims Blog</h1>
	</header>

	<main>

		{{#if type_index}}
			{{~> home}}
		{{/if}}

		{{#if type_post}}
			{{~> post}}
		{{/if}}

	</main>

	<link rel="stylesheet" href="/main.min.css">
	<link rel="stylesheet" href="/icons/css/fontello.css">

	<!-- TODO: Cookieconsent -->
</body>
</html>
